*{
    padding: 0px;
    margin: 0px;
}
.container
{
    min-height: 100%;
   min-width: 100%;
   overflow-x: hidden;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 640px;
    max-height: 390px;
    width: 100%;
    height: auto;
    z-index: -1;
  }
body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url("image.jpg");
    background-size:100% 100% ;


}

.header
{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
   
   
    border: 0.1px solid pink;
  
}
.main
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
   
  
}
.header:hover
{
    box-shadow: 2px 2px  gray;
  
}
.sub
{
    display: flex;
    gap:40px;
    cursor: pointer;
    text-transform: uppercase;
}
a{
    text-decoration:none ;
    color: black;
}
a:hover{
    padding: 5px 5px;
    font-weight: bold;
    color: rgb(88, 88, 95);
  
}
h1{
    text-transform: uppercase;
}
span{
     font-weight: bold;
     color: gray;
}
.input
{
    display: flex;
    flex-direction:row;
    gap: 30px;
}
.email
{
    background: transparent;
    width: 30vw;
    padding: 10px;
    border-radius: 10px;
}
button
{
    background-color: aqua;
    color: gray;
    width: 5vw;
    border-radius: 10px;
    cursor: pointer;

}
button:hover{
    box-shadow: 2px 2px 2px 2px gray;
}
.chat
{
    position: fixed;
    bottom: 25px;
    right: 25px;
   
}
img:hover{
    color: black;
}
.classform
{
    display: grid;
   
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    background: rgba(169, 161, 161, 0.6);
    row-gap: 20px;
    width: 100vmin;
    border-radius: 10px;
    height: 35vh;
}
input{
    border-radius: 10px;
    padding: 10px 20px;
   
    background: transparent;
}
input:hover{
    box-shadow:2px 2px 2px 2px  gray ;
}
select{
    border-radius: 10px;
    padding: 10px 20px;
    background: transparent;
}
select:hover{
    box-shadow: 2px 2px 2px 2px gray;
}
select>option
{
    background-color: aquamarine;
}
option:hover{
    background-color: pink;
}